.tableMain{
	display: flex;
	width: 100vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 4vh;
}
	.titleTable{
		width: 80vw;
		background-color: var(--corC);
		display: flex;
		flex-direction: row;
		padding: 2vh;
		font-size: 3vh;
		color: var(--line-color);
		font-family: monospace;
		border-radius: 2vh 2vh 0px 0px;
		font-weight: bold;
	}
		.titleTable h3{
			margin-left: 2vw;
		}
.blockIn{
	display: flex;
	flex-direction: column;
	width: 80vw;
	padding: 2vh;
	padding-top: 0vh;
	background-color: var(--corE);
	align-items: center;
	border-radius: 0vh 0vh 2vh 2vh;
}
	.blockIn .ul{
		text-decoration: none;
	}
		.blockIn .ul .titleUl{
			width: 100%;
			background-color: var(--corA);
			padding: 2vh;
			margin-left: -2vh;
			font-size: 2vh;
			font-family: monospace;
			color: var(--corB);
			font-weight: bold;
			border-bottom: 3px solid var(--corB);
			margin-bottom: 2vh;
		}
		.blockIn .ul .description{
			width: 100%;
			padding-bottom: 2vh;
			font-size: 1.5vh;
			font-weight: bold;
			color: var(--corD);
			font-family: monospace;
			word-wrap: break-word;
		}
		.blockIn .ul ol{
			text-decoration: none;
			width: 100%;
			padding-bottom: 2vh;
			font-size: 1.5vh;
			font-weight: bold;
			color: var(--corD);
			font-family: monospace;
			word-wrap: break-word;
			margin-left: 2vw;
		}
		.blockIn .ul{
			width: 100%;
		}
			.blockIn .ul table{
				display: flex;
				width: 100%;
				justify-content: center;
				flex-direction: column;
				align-items: center;
			}
				.ul table tbody{
					display: flex;
					flex-direction: column;
					width: 100%;
					justify-content: center;
					align-items: start;
				}
					.ul table tbody tr{
						width: 100%;
						display: flex;
						flex-direction: row;
						justify-content: space-around;
					}
						.ul table tbody tr .start{
							display: flex;
							width: 5%;
							border-left: none;
						}
						.ul table tbody tr th{
							background-color: var(--corA);
							width: 100%;
							color: var(--corB);
							padding: 2vh;
							margin-left: 0vh;
							font-size: 2vh;
							font-family: monospace;
							font-weight: bold;
							border-bottom: 3px solid var(--corB);
							word-wrap: break-word;
						}
							.ul table tbody tr th .space{
								margin-right: 3vw;
							}
						.ul table tbody tr td{
							background-color: var(--corD);
							width: 100%;
							color: var(--corE);
							padding: 2vh;
							font-size: 1.5vh;
							font-family: monospace;
							font-weight: bold;
							text-align: center;
							border-left: 1px solid var(--corA);
							word-wrap: break-word;
						}
                            .toggle-pill-dark{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .toggle-pill-dark input[type="checkbox"] {
                                display: none;
                            }
                            .toggle-pill-dark input[type="checkbox"] + label {
                                display: block;
                                position: relative;
                                width: 2.4vw;
                                height: 1.2vw;
                                margin-bottom: 20px;
                                border-radius: 1em;
                                background: var(--corE);
                                cursor: pointer;
                                -webkit-transition: background 0.1s ease-in-out;
                                transition: background 0.1s ease-in-out;
                            }
                            .toggle-pill-dark input[type="checkbox"] + label:before {
                                content: "";
                                display: block;
                                width: 1.2em;
                                height: 1.2em;
                                border-radius: 1em;
                                background: var(--corB);
                                position: absolute;
                                left: 0.2em;
                                top: 0.2em;
                                -webkit-transition: all 0.2s ease-in-out;
                                transition: all 0.2s ease-in-out;
                                -webkit-transform: rotate(90deg);
                                transform: rotate(90deg);
                            }
                            .toggle-pill-dark input[type="checkbox"]:checked + label:before {
                                background: var(--corD);
                                box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
                                left: 1.6em;
                                -webkit-transform: rotate(295deg);
                                transform: rotate(295deg);
                            }