@import 'style2.css';
:root{	
	--corA: #21467b;
	--corB: #4e9bff;
	--corC: #669fd3;
	--corD: #e5d4bd;
	--corE: #292929;
	--line-color: var(--corE);
}
*{
	margin: 0px;
	padding: 0px;
	transition: 0.3s;
  }
  /*web-kit*/
	input[type=file]{
	  display: none;
	}
	::-webkit-scrollbar{
		width: 0vw;
	}

	::-webkit-inner-spin-button{
		-webkit-appearance: none;
	}

	.ocultar{
	  display: none;
	}

	button:focus, button:focus-visible, input:focus-visible, input:focus, select:focus-visible, select:focus, textarea:focus-visible, textarea:focus{
	  outline: none;
	}
body{
	background-color: var(--corD);
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
}
	.Title{
		color: var(--corA);
		font-size: 5vh;
		font-family: sans-serif;
		font-weight: bold;
		font-style: italic;
		margin-top: 5vh;
		text-align: center;
	}
    .operetion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: auto;
        margin-top: 2vh;
    }
        .btn{
            border: none;
            background-color: var(--corC);
            padding: 2vh;
            width: 30%;
            text-align: center;
            font-size: 2vh;
            font-family: monospace;
            font-weight: bold;
            color: var(--corE);
            border-radius: 0.5vw;
            box-shadow: 5px 5px var(--corE);
            margin-top: 4vh;
        }
            .btn:hover{
                cursor: pointer;
				box-shadow: 7px 7px var(--corA);
            }
			.btn:active{
				cursor: grabbing;
				box-shadow: 0px 0px var(--corE);
			}
